.titre{
    margin-top:2em;
    margin-left:2em;
    font-size:24px;
    margin-bottom:-2em;
}
.score-objectif{
  color:#9B9EAC;
  font-size:14px;
  font-weight: 500;
  
}
.pourcentage{
    font-size:26px;
    font-weight:700 ;
}
