.copyright {
    margin-top:10em;
    color:white;
    transform:rotate(270deg);
    width:15em;
}
.sidebar {
  float: left;
  position: absolute;
  box-sizing: auto;
  width: 8em;
  background-color: black;
  height: 55em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:1em;
  box-shadow: 0px 4px 4px 4px #00000040;

}
.nav {
  width: 2em;
  padding:1em;
 
}
.box-sport {
    background-color:white;
    border-radius:6px;
}

.box-sport:hover {
    transform: scale(1.1);
}